module "gh_private_null" {
  source  = "api-pr12306.dev.env0.com/${ENV0_ORGANIZATION_ID}/gh_private/null"
  version = "1.0.0"
  name    = "private"
}

output "private_output_name" {
  value = module.gh_private_null.message
}

module "gh_public_null" {
  source  = "api-pr12306.dev.env0.com/${ENV0_ORGANIZATION_ID}/gh_public/null"
  version = "1.0.0"
  name    = "public"
}

output "public_output_name" {
  value = module.gh_public_null.message
}
